<configuration>
	<paths>
		<using namespace="System.I18N.*" />
	</paths>
	<modules>
		<!-- database modules -->
		<module id="db" class="Baculum\API\Modules\Database" />
		<!-- tools modules -->
		<module id="bconsole" class="Baculum\API\Modules\Bconsole" />
		<module id="json_tools" class="Baculum\API\Modules\JSONTools" />
		<module id="bacula_error" class="Baculum\API\Modules\BaculaError" />
		<!-- config modules -->
		<module id="api_config" class="Baculum\API\Modules\APIConfig" />
		<module id="device_config" class="Baculum\API\Modules\DeviceConfig" />
		<module id="bacula_setting" class="Baculum\API\Modules\BaculaSetting" />
		<!-- internalization modules -->
		<module id="globalization" class="TGlobalization">
			<translation type="gettext" source="Baculum\API\Lang" marker="@@" autosave="false" cache="false" DefaultCulture="en" />
		</module>
		<!-- logging modules -->
		<module id="log" class="System\Util\TLogRouter">
			<route class="Baculum\Common\Modules\BFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Baculum\API\Logs" LogFile="baculum-api-debug.log" MaxFileSize="10000" MaxLogFiles="5" />
			<route class="Baculum\Common\Modules\BFileLogRoute"  Categories="Audit" LogPath="Baculum\API\Logs" LogFile="baculum-api.log" MaxFileSize="10000" MaxLogFiles="5" />
		</module>
		<!-- auth modules -->
		<module id="basic_apiuser" class="Baculum\API\Modules\BasicAPIUserConfig" />
		<module id="basic_config" class="Baculum\API\Modules\BasicConfig" />
		<module id="oauth2_config" class="Baculum\API\Modules\OAuth2\OAuth2Config" />
		<!-- component actions modules -->
		<module id="comp_actions" class="Baculum\API\Modules\ComponentActions" />
		<!-- changer command modules -->
		<module id="changer_command" class="Baculum\API\Modules\ChangerCommand" />
	</modules>
</configuration>
