<configuration>
	<paths>
		<using namespace="Baculum.API.Modules.BaculumAPIServer" />
	</paths>
	<modules>
		<!-- OAuth2 - only to be compatible with old OAuth2 endpoints -->
		<!-- Remove it in the future but keep oauth2_token (it is used in this service to remove old tokens) -->
		<module id="oauth2" class="Baculum\API\Modules\OAuth2\BaculumOAuth2" />
		<module id="oauth2_config" class="Baculum\API\Modules\OAuth2\OAuth2Config" />
		<module id="oauth2_authid" class="Baculum\API\Modules\OAuth2\AuthIdManager" />
		<module id="oauth2_token" class="Baculum\API\Modules\OAuth2\TokenManager" />

		<!-- Basic user config -->
		<module id="basic_apiuser" class="Baculum\API\Modules\BasicAPIUserConfig" />
		<module id="basic_config" class="Baculum\API\Modules\BasicConfig" />

		<!-- API Server modules -->
		<module id="api_server_v1" class="Baculum\API\Modules\APIServerV1" />
		<module id="api_server_v2" class="Baculum\API\Modules\APIServerV2" />

		<!-- database modules -->
		<module id="db" class="Baculum\API\Modules\Database" />
		<module id="client" class="Baculum\API\Modules\ClientManager" />
		<module id="fileset" class="Baculum\API\Modules\FileSetManager" />
		<module id="job" class="Baculum\API\Modules\JobManager" />
		<module id="joblog" class="Baculum\API\Modules\LogManager" />
		<module id="pool" class="Baculum\API\Modules\PoolManager" />
		<module id="storage" class="Baculum\API\Modules\StorageManager" />
		<module id="version" class="Baculum\API\Modules\VersionManager" />
		<module id="volume" class="Baculum\API\Modules\VolumeManager" />
		<module id="object" class="Baculum\API\Modules\ObjectManager" />
		<module id="event" class="Baculum\API\Modules\EventManager" />
		<module id="fileevent" class="Baculum\API\Modules\FileEventManager" />
		<module id="source" class="Baculum\API\Modules\SourceManager" />
		<!-- tools modules -->
		<module id="bconsole" class="Baculum\API\Modules\Bconsole" />
		<module id="json_tools" class="Baculum\API\Modules\JSONTools" />
		<module id="bvfs" class="Baculum\API\Modules\BVFS" />
		<module id="blstat" class="Baculum\API\Modules\BLStat" />
		<!-- config modules -->
		<module id="api_config" class="Baculum\API\Modules\APIConfig" />
		<module id="bacula_config" class="Baculum\API\Modules\BaculaConfig" />
		<module id="bacula_config_acl" class="Baculum\API\Modules\BaculaConfigACL" />
		<module id="bacula_setting" class="Baculum\API\Modules\BaculaSetting" />
		<module id="device_config" class="Baculum\API\Modules\DeviceConfig" />
		<!-- logging modules -->
		<module id="log" class="System\Util\TLogRouter">
			<route class="Baculum\Common\Modules\BFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Baculum\API\Logs" LogFile="baculum-api-debug.log" MaxFileSize="10000" MaxLogFiles="5" />
			<route class="Baculum\Common\Modules\BFileLogRoute"  Categories="Audit" LogPath="Baculum\API\Logs" LogFile="baculum-api.log" MaxFileSize="10000" MaxLogFiles="5" />
		</module>
		<!-- component status modules -->
		<module id="status_dir" class="Baculum\API\Modules\StatusDirector" />
		<module id="status_sd" class="Baculum\API\Modules\StatusStorage" />
		<module id="status_fd" class="Baculum\API\Modules\StatusClient" />
		<!-- component actions modules -->
		<module id="comp_actions" class="Baculum\API\Modules\ComponentActions" />
		<!-- bconsole command modules -->
		<module id="ls" class="Baculum\API\Modules\Ls" />
		<module id="delete" class="Baculum\API\Modules\Delete" />
		<module id="list" class="Baculum\API\Modules\BList" />
		<module id="time" class="Baculum\API\Modules\TimeManager" />
		<module id="bacula_error" class="Baculum\API\Modules\BaculaError" />
		<!-- changer command modules -->
		<module id="changer_command" class="Baculum\API\Modules\ChangerCommand" />
		<!-- plugin modules -->
		<module id="fd_plugin_cfg" class="Baculum\API\Modules\PluginFDConfig" />
		<!-- M365 modules -->
		<module id="m365" class="Baculum\API\Modules\PluginM365Manager" />
	</modules>
</configuration>
