# -*- coding: UTF-8 -*-
#
# Copyright (C) 2000-2020 Kern Sibbald
# License: BSD 2-Clause; see file LICENSE-FOSS
#
# Author: Radoslaw Korzeniewski
#

pyyaml == 6.0.1
kubernetes == 30.1.0
urllib3 == 2.2.1
requests == 2.32.3
